.zoom-95 {
    zoom: .95;
}

.small-zoom-75 {
    @media(max-width: 768px) {
        zoom: .75;
    }
}

.lg-zoom-75 {
    @include desktop {
        zoom: .75;
    }
}

.xl-zoom-95 {
    @include widescreen {
        zoom: .95;
    }
}

.xxl-zoom-normal {
    @include fullhd {
        zoom: normal;
    }
}